.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.episode-details {
    max-width: 1000px;
    background: linear-gradient(to bottom right, #f5f5f5, #d9a37e);
    padding: 25px;
    border-left: 4px solid #555;
    border-top: 4px double #555;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
    text-align: center;
}

.episode-header {
    font-size: 26px;
    font-weight: bold;
    color: #444;
    margin-bottom: 15px;
}

.episode-info {
    border: 2px solid #aaa;
    background: linear-gradient(to bottom right, #f5f5f5, #d9a37e);
    font-weight: 700;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.episode-info p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.character-list {
    background: linear-gradient(to bottom right, #f5f5f5, #d9a37e);
    margin: 20px auto;
    padding: 25px;
    border: 3px dashed #aaa;
    border-radius: 12px;
    max-width: 1000px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border: 3px dotted #aaa;
    padding-bottom: 12px;
    width: 220px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-link {
    display: block;
    text-decoration: none;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}

.card-title {
    font-size: 20px;
    margin: 12px 0;
    color: #333;
    font-weight: bold;
}